p{
    color:blueviolet; 
}
.header{
    height: 200px;
    background-image: url(naimm.jpg.jpg);
    background-repeat: no-repeat;
}
<div>
        <h3>my first</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ratione, iure iusto placeat quisquam explicabo distinctio magnam! Totam vitae est error, accusantium quod nulla culpa, voluptatum debitis labore quas aperiam alias dolorum fugiat. Maxime neque, consequatur fugiat cumque dolor perferendis quae tenetur quo natus inventore laudantium repudiandae placeat! Delectus voluptate totam non. Ex, laboriosam. Ab illo cupiditate neque magni quos.</p>
    </div>